<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border = "2" id = "student-details-table">
        <tr>
            <th>Student id</th>
            <th>Course id</th>
            <th>Marks</th>
        </tr>
        {% for i in range(a["S_id"] | length ) %}
                <tr>
                    <td>{{a["S_id"][i]}}</td>
                    <td>{{a["C_id"][i]}}</td>
                    <td>{{a["marks"][i]}}</td>
                </tr>  
        {% endfor %}
        <tr>
        <td colspan = "2" style="text-align:center"> Total Marks </td>
        <td>{{total}}</td>

        </tr>
    </table>
    <a href="../">Go Back | </a>

    
</body>
</html>